@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0 10px;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.25;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
